html{
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FEEBED;
}

header {
    background-color: #a20c03;
    color: #FFF;
    padding: 15px 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10em;
}

nav .logo {
    font-size: 24px;
    font-weight: 600;
}

nav .links {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 100;
}


.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.text {
    width: 530px;
    margin-bottom: 5em;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 500;
}

.secondary-text {
    font-size: 18px;
    color: #fafafa;
    font-weight: 300;
    margin: 1em 5em 2em 0;
}

.image {
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.button {
    color: #fff;
    background-color: #F65161;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.8s;
}

.button:hover , 
.content .sign-up:hover {
    background-color: #FEEBED ;
    color: #F65161;
    font-weight: 500;
}


.random-info {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

h1 {
    padding: 2em 0;
    text-align: center;
    text-transform: uppercase;
}
.random-info div {
    width: 160px;
    height: 160px;
    text-align: center;
}

.box img {
    width: 100%;
    height: 160px;
    border-radius: 15px;
}

.random-info p {
    padding-top: 1em;
}

.quote {
    padding: 6em 20em;
    margin-top: 10em;
    background-color: #a20c03;
    color: #fff;
}

q {
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}

.quote figcaption {
    display: flex;
    justify-content: flex-end;
    font-weight: 200;
    font-size: 20px;
    margin-top: 2em;
}

.container {
    margin: 0 auto;
    padding: 90px 180px;
    display: flex;
    justify-content: center;
}

.content {
    background-color: #F65161;
    color: #fff;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em 5em;
    border-radius: 5px;
}

.content .main-text {
    font-size: 30px;
    padding-top: 2em;
}

.content .sec-text {
    font-weight: 100;
    padding-top: 0.5em;
}

.content .sign-up {
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 5px;
    transition: 0.8s;
}

footer {
    background-color: #1f2937;
    color: #fff;
    padding: 1.3em 0;
    font-weight: 100;
    text-align: center;
}

footer a {
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
}
@media only screen and (max-width: 950px) {
    header, .quote , .container {
        padding: 15px 20px;
    }

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .secondary-text {
        margin: 1em 0 2em;
    }

    q {
        font-size: 23px;
        text-align: justify;
    }

    .container {
        margin: 2em 0;
    }

    .content {
        text-align: center;
        padding: 10px 20px;
    }

    .content .sign-up {
        margin-top: -4em;
    }
}